<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo"></h1>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Online</a>
        </li>

        <li>
          <a href="#">Print</a>
        </li>
            
        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title"  style="color: white;">Technology</h2>
      
      <ul class="nav__ul nav__ul--extra flexClass" >
        
        
        <li>
          <a href="#">Automation</a>
        </li>
        
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        
        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title"  style="color: white;">Education</h2>
      
      <ul class="nav__ul flexClass">
        <li>
          <a href="#">Hardware Design</a>
        </li>
        
        <li>
          <a href="#">Software Design</a>
        </li>
        
        <li>
          <a href="#">Digital Signage</a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <h2 class="nav__title" style="color: white;">Legal</h2>
      
      <ul class="nav__ul flexClass">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Use</a>
        </li>
        
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2024 Copyright. www.iibs-sn.com.</p>
    
    <div class="legal__links">
      <div class="social-links">
        <a href="https://www.facebook.com/share/gY9kJJB6FxUfsYFa/?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/@iibs.sn2023?_t=8qZG7rb246Y&_r=1" class="text-white me-4">
          <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://www.instagram.com/iibs.sn/profilecard/?igsh=MXU5bzA2azU4czVxZA=="><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/iibs-sn/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>