<div nz-row nzJustify="space-between" nzAlign="middle">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/Profil_Picture.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ customersNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">Clients</span>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/livreur.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ deliveriesNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">Livreurs</span>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/reclamation.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ reclamationsNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">Reclamations</span>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<div nz-row nzJustify="space-between" nzAlign="middle" style="margin-top: 15px">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/shopping.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ ordersNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">Commandes</span>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/order.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ inProgressOrdersNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">En cours</span>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/commande-livree.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ receivedOrdersNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">Recu</span>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<div nz-row nzJustify="start" nzAlign="middle" style="margin-top: 15px">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/commande-livree.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ ClosedOrdersNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">Livrees</span>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
    <nz-card class="card-stats">
      <div nz-row>
        <div nz-col nzSpan="14">
          <img
            src="../../../../assets/images/order.png"
            style="
              width: 80px;
              height: 80px;
              margin-top: 8px;
              margin-left: 15px;
            "
          />
        </div>
        <div nz-col nzSpan="8" style="text-align: center">
          <h1 style="color: #3274e0; font-size: xx-large; font-weight: bolder">
            {{ supportedOrdersNumber }}
          </h1>
          <span style="color: #000; font-weight: bold">Prise en charge</span>
        </div>
      </div>
    </nz-card>
  </div>
</div>
